<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/about.css">
	<link rel="JavaSrcipt" href="/js/about.js">
	<title>lyric.al</title>

</head>
<body>
					<h1>Welcome to <strong>LYRICAL</strong></h1>
<p>
	so, you might be wondering. whats the point of this whole app? Well, my little or tall child/adult/teen.
	this app is going to help your singing in a good way.
</p>

<p>
This app can analyze the notes you are hitting, and what notes you are missing, if you sound in snyc of if you are harmonizing with the song.
</p>
<p>
	you can do it by yourself or do it with a random person. but the person is choosen by you. yes u! when you choose the genre, the videos related to that genre both single and duet are shown so you choose.
</p>
<p>
	so lets get to it. shall we?,if you signed in you should see our home page
	if not, go sign in. and you should be seeing our home page. Have fun!
</p>


<p>Oh yeah and one more thing <strong>Inappropriate content is not allowed, if so, your account will be deleted, this is a child friendly app. Nudes are not allowed. there will be kids using this app. we don't want problems. so please keep things non-sexual.</strong>
</p>
</body>
</html>